VITE_SUPABASE_URL=https://pybegueviocyeptgaxyk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB5YmVndWV2aW9jeWVwdGdheHlrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAxMDA2ODAsImV4cCI6MjEwNTY3NjY4MH0.f6ZPe_TY4sdlZKU3K0FqsTouPOtMUwfF6ZyF2BM9-ZE
